body {
    background-color: #000000;
    color: white;
}

#primeraCaja {
    margin-top: 25px;
}

#comingUp {
    margin-top: 25px;
    margin-right: 100px;
}

#collapseExample1 {
    color: black;
}

#collapseExample16 {
    color: black;
}