header {
    background-color: black;
}

body {
    background-color: black;
    color: limegreen;
}

/* h1 {
    color: white;
} */

#who {
    font-weight: bold;
    font-size: 125px;
}

#da {
    font-weight: bold;
    font-size: 125px;
}

#intro {
    margin-top: 100px;
    /* border: solid 5px red; */
}

#patricio{
    position:absolute;
    top: 88px;
    right: 0;
    border: solid red 5px;
}

#slogan {
    position: absolute;
    top: 90px;
    left:10%;
    border: solid lime 5px;
    font-size: 70;
    color:white;
}

#bansheeWord{
    color: limegreen;
}

#linkBar {
    background-color: black;
}

a {
    color: white;
}

#tagLine {
  text-justify: center;
}
/* #ep1Blrb {
    color: white;
    border: solid yellow 5px;
    background-color: pink;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 320px;

} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}